doctype html
html(ng-app="nexus")
  head
    script.
      String.prototype.capitalize = function() {
        return this.charAt(0).toUpperCase() + this.slice(1);
      }
  
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title(ng-bind="$stateParams.name.capitalize() + \" - Argarak\'s Nexus\"")
      = locals.name
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width")
    link(rel="shortcut icon" href="/favicon.ico?")
    block meta

    // CSS (see config.json for referenced files)
    each href in locals.css 
      link(rel="stylesheet" href=href)

    each src in locals.js
      script(src=src)

  mixin navbarEntry(href, src, tooltip, index)
    li.navbarLi
      if index == 6
        a(href=href)
          img(src=src)
        md-tooltip(md-direction="right" class="tooltip" + index)= tooltip  
      else  
        a(ui-sref="navbar({ name: \"" + href + "\" })")
          img(src=src)
        md-tooltip(md-direction="right" class="tooltip" + index)= tooltip  

  body
    .app(layout="column")
      noscript
        .noscript-message= locals.noscript
      .container(layout="row" ng-controller="mainController" flex)
        md-sidenav#sidenav(md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-sidenav-left")
          md-content(layout-padding="" layout="column" layout-align="center")
            each item in locals.navbar
              +navbarEntry(item[1], "/navbar/" + item[0], item[2], item[3])
        md-button.sidenav-fab.md-fab.md-fab-bottom-right(hide-gt-sm aria-label="FAB" ng-click="openLeftMenu()")
          md-icon(md-svg-src="/icons/menu.svg")
        md-content#main-content(flex)
          ui-view.gsapify-router(autoscroll="true")