doctype html
html(ng-app="nexus")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title(ng-bind="$stateParams.title | titleFilter")
      = locals.title
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width")
    link(rel="shortcut icon" href="/favicon.ico?")
    block meta

    // CSS (see config.json for referenced files)
    each href in locals.css 
      link(rel="stylesheet" href=href)

    each src in locals.js
      script(src=src)
  
  mixin toolbarEntry(href, src, tooltip, index)
      if index == 6
        a(href=href)
          md-button.md-icon-button(aria-label=tooltip)
            md-icon(md-svg-icon=src)
          md-tooltip(md-direction="top" class="tooltip" + index)= tooltip  
      else if index == 8
        a(href=href)
          md-button.md-icon-button(aria-label=tooltip ng-click="showAlert($event, \"spook\", \"so spooky oh yes\", \"oki\")")
            md-icon(md-svg-icon=src)
          md-tooltip(md-direction="top" class="tooltip" + index)= tooltip  
      else  
        a(ui-sref="navbar({ name: \"" + href + "\" })")
          md-button.md-icon-button(aria-label=tooltip)
            md-icon(md-svg-icon=src)
          md-tooltip(md-direction="top" class="tooltip" + index)= tooltip
  
  body
    a(href="/librejs/license.html" style="display: none;" data-jslicense="1")
    .app(layout="column")
      noscript
        .noscript-message
          .text!= locals.noscript
      .container(layout="row" ng-controller="mainController" flex)
        md-content#main-content(flex)
          ui-view.slidedown
        md-toolbar.xs-toolbar
          .md-toolbar-tools
            each item in locals.navbar
              +toolbarEntry(item[1], "/navbar/" + item[0], item[2], item[3])